:root {
  --brand-gradient: #fc4a1a;
  --brand-color-primary: #f7b733;
  --brand-color-secondary: #fc4b1a;
  --background-color: #09090b;
  --surface-color: #18181b;
  --stroke-color: #27272a;
  --text-color-secondary: #a1a1aa;
  --text-color-primary: #f4f4f5;

  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2.5rem;

  --px-base: 1rem;
  --px-lg: 1.5rem;
  --px-xl: 2rem;

  --py-base: 1rem;
  --py-lg: 1.5rem;
  --py-xl: 2rem;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  font-family: "Alice", serif;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color-primary);

  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  line-height: 1.6;

  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: var(--text-color-primary);
  font-weight: var(--fw-bold);
  letter-spacing: -0.04em;
}

h1 {
  font-size: var(--fs-2xl);
}
h2 {
  font-size: var(--fs-xl);
}
h3 {
  font-size: var(--fs-lg);
}
span {
  font-size: var(--fs-sm);
}
p {
  font-size: var(--fs-base);
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul[role="list"] {
  list-style: none;
}

& img {
  max-width: 100%;
  display: inline-block;
}

@media (width >= 1280px) {
  :root {
    --fs-lg: 2rem;
    --fs-xl: 3rem;
    --fs-2xl: 4rem;

    --px-lg: 2rem;

    --py-base: 1.5rem;
    --py-lg: 2.5rem;
    --py-xl: 5rem;
  }
}
